<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EmploeeMS</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Clean.css">

    <script>
        function filterTbl(input) {
		  var input, filter, table, tr, td, cell, i, j;
		  input = document.getElementById("tSearch");
		  filter = input.value.toUpperCase();
		  table = document.getElementById("tbl");
		  tr = table.getElementsByTagName("tr");
		  for (i = 1; i < tr.length; i++) {
		    // Hide the row initially.
		    tr[i].style.display = "none";

		    td = tr[i].getElementsByTagName("td");
		    for (var j = 0; j < td.length; j++) {
		      cell = tr[i].getElementsByTagName("td")[j];
		      if (cell) {
		        if (cell.innerHTML.toUpperCase().indexOf(filter) > -1) {
		          tr[i].style.display = "";
		          break;
		        }
		      }
		    }
		  }
		}
    </script>
</head>

<body>
    <div class="modal fade" role="dialog" tabindex="-1" id="regFormModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Registration Form</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/emp/save/" th:object="${Employee}">
                        <div class="mb-3"><input class="form-control" type="text" name="name" placeholder="Enter Name" required=""></div>
                        <div class="mb-3"><input class="form-control" type="text" name="designation" placeholder="Enter Designation" required=""></div>
                        <div class="mb-3"><input class="form-control" type="number" name="salary" placeholder="Enter Salary" required="" inputmode="numeric"></div>
                        <div class="mb-3"></div>
                        <div class="text-center mb-3"><button class="btn btn-secondary" type="reset">Clear</button><button class="btn btn-primary" type="submit" style="margin-left: 10px;">Save</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <section class="contact-clean">
        <form method="post" action="/emp/save/" style="max-width: 1000px;min-width: 400px;">
            <div class="row">
                <div class="col" style="max-width: 150px;"><button class="btn" type="button" style="margin-bottom: 10px;background: var(--bs-success);color: var(--bs-white);" data-bs-target="#regFormModal" data-bs-toggle="modal"><i class="fa fa-plus"></i>&nbsp;new</button></div>
                <div class="col"><input id="tSearch" class="form-control" type="search" placeholder="Search by Keyword" onkeyup="filterTbl()"></div>
            </div>
            <div class="table-responsive" style="width: 100%;">
                <table id="tbl" class="table">
                    <thead>
                        <tr style="background: var(--bs-blue);color: var(--bs-white);">
                            <th class="text-center">ID</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Designation</th>
                            <th class="text-center">Salary</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr th:each="emp : ${listEmp}">
                        <td class="text-end" th:text="${emp.id}"></td>
                        <td class="text-start" th:text="${emp.name}"></td>
                        <td class="text-start" th:text="${emp.designation}"></td>
                        <td class="text-end" th:text="${emp.salary}"></td>
                            <td>
                                <div class="btn-group" role="group"><a th:href="@{/emp/delete/{empID}/(empID = ${emp.id})}" class="btn btn-secondary" role="button" style="background: var(--bs-red);"><i class="fas fa-trash"></i></a></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <nav>
                <ul class="pagination">

                    <!-- Previous Button code started -->
                    <li class="page-item" th:classappend="${(curPage == 1)} ? 'disabled'">
                        <a class="page-link" aria-label="Previous" th:href="@{/emp/reg/{curPage}/(curPage=${curPage-1})}">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <!-- Previous Button code ended -->

                    <!-- Pagination Button Loop started -->
                    <li class="page-item" th:classappend="${(pageNo == curPage)} ? 'active'" th:each="pageNo : ${#numbers.sequence(1, totalPages)}">
                        <a class="page-link" th:href="@{/emp/reg/{curPage}/(curPage=${pageNo})}" th:text="${pageNo}"></a>
                    </li>
                    <!-- Pagination Button Loop ended -->
                    
                    <!-- Next Button code started -->
                    <li class="page-item" th:classappend="${(curPage == totalPages)} ? 'disabled'">
                        <a class="page-link" aria-label="Next" th:href="@{/emp/reg/{curPage}/(curPage=${curPage+1})}">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                    <!-- Next Button code ended -->
                </ul>
            </nav>
        </form>
    </section>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
</body>

</html>