<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>NavigationBar</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/assets/css/zectStudio---Sidebar-Menu-by-bbbootstrap.css">
</head>

<body>
<diV th:fragment="navbar">


    <div id="sidemenu">
        <header id="header" class="header">
            <div id="header_toggle-1" class="header_toggle"><i class="fa fa-star bx bx-menu" id="header-toggle"></i></div>
            <div class="header_img"><img src="/assets/img/hczKIze.jpg"></div>
        </header>
        <div id="nav-bar" class="l-navbar">
            <nav class="nav">
                <div><a id="header_toggle-2" class="nav_logo header_toggle" href="#"><i class="fa fa-home bx bx-layer nav_logo-icon"></i><span class="nav_logo-name">Sidemenu</span></a>
                    <div class="nav_list"><a class="nav_link active" href="#"><i class="fa fa-star bx bx-grid-alt nav_icon"></i><span class="nav_name">Main Menu</span></a><a class="nav_link" href="#"><i class="fa fa-star bx bx-user nav_icon"></i><span class="nav_name">Users</span></a><a class="nav_link" href="#"><i class="fa fa-star bx bx-message-square-detail nav_icon"></i><span class="nav_name">Chat</span></a><a class="nav_link" href="#"><i class="fa fa-star bx bx-bookmark nav_icon"></i><span class="nav_name">Bookmark</span></a><a class="nav_link" href="#"><i class="fa fa-star bx bx-folder nav_icon"></i><span class="nav_name">Folders</span></a><a class="nav_link" href="#"><i class="fa fa-star bx bx-bar-chart-alt nav_icon"></i><span class="nav_name">Stats</span></a></div><a class="nav_link signout" href="#"><i class="fa fa-star bx bx-log-out nav_icon"></i><span class="nav_name">Signout</span></a>
                </div>
            </nav>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/zectStudio---Sidebar-Menu-by-bbbootstrap-sidemenu.js"></script>
</diV>
</body>

</html>